@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans+TC:wght@400;700&family=Wendy+One&display=swap');

/* font */
$comfortaa: 'Comfortaa',cursive;
$noto-sans-tc: 'Noto Sans TC',sans-serif;
$wendy-one: 'Wendy One',sans-serif;


/* color */
$primary-color: #56C4C5;
$color-text-black: #221E1F;
$color-text-gray:#747474;
$color-line-gray:#DDDDDD;
$color-button-attention: #FF5D50;
$color-background-gray: #F5F5F5;
$color-banner-gray:#F7F9FD;
$color-yellow:#FFD153;

$spacer: 1rem;